@using PetShop.Model.Utilities
@using PetShop.Model.Entities


@model AnimalFilterRequest
<div class="pagination container-fluid">
	<form asp-action="Index" class="row">
		<div class="col-lg-2">
			<label asp-for="CategoryId">Category:</label>
			<input type="hidden" asp-for="CategoryId" />
			<select class="select category form-control">
				<option value="@null">All</option>
				@foreach (var item in (IEnumerable<Category>)ViewData["Category"])
				{
					if (item.Id == Model.CategoryId)
					{
						<option selected value="@item.Id">@item.Name </option>
					}
					else
					{
						<option value="@item.Id">@item.Name </option>
					}
				}
			</select>
		</div>
		<div class="col-md-2">
			<label asp-for="PageSize"></label>
			<input asp-for="PageSize" class="form-control" min="1" max="100" step="5" />
		</div>
		<div class="col-md-2">
			<button class="btn btn-sm btn-primary first">&lt;&lt;</button>
			<button class="btn btn-sm btn-primary prev">&lt;</button>
		</div>
		<div class="col-md-2">
			<input asp-for="PageNumber" class="form-control" min="1" max="@(((PagedDataResponse<Animal>)ViewData["response"]).TotalPages)" />
		</div>
		<div class="col-md-2">
			<button class="btn btn-sm btn-primary next">&gt;</button>
			<button class="btn btn-sm btn-primary last">&gt;&gt;</button>
		</div>
		<div class="col-md-2 text-end">
			<span class="pagination-info">
				@(((PagedDataResponse<Animal>)ViewData["response"]).From) -
				@(((PagedDataResponse<Animal>)ViewData["response"]).To) /
				@(((PagedDataResponse<Animal>)ViewData["response"]).TotalCount)
			</span>
			<input id="TotalCount" type="hidden" value="@(((PagedDataResponse<Animal>)ViewData["response"]).TotalCount)" />
			<input id="TotalPages" type="hidden" value="@(((PagedDataResponse<Animal>)ViewData["response"]).TotalPages)" />
		</div>

	</form>
</div>


<script src="/js/site.js"></script>
