@using PetShop.Model.Entities
@model IEnumerable<Animal>
@{
	ViewData["Title"] = "Catalog Page";
}
<div class="animal catalog text-center">
	<partial name="~/Views/Shared/_AnimalFilterPartial.cshtml" model="@ViewData["request"]" />
	<div class="row">
		@foreach (var item in (IEnumerable<Category>)ViewData["Category"])
		{
			if (item.Id.Equals(@ViewData["CurrentCategory"]))
			{
				<div id="description" class="col-md-12">
					@item.Description
				</div>
			}
		}
	</div>
	<br/>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Image</th>
				<th>Animal Name</th>
				<th>Comments</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var animal in Model)
			{
				<tr>
					<td>
						<img class="img-thumbnail bg-light" src="~/Images/@animal.ImageUrl" alt="Animal Image" width="100" height="100" />
					</td>
					<td>
						@Html.DisplayFor(model => animal.Name)
					</td>
					<td>
						@Html.DisplayFor(model => (animal.Comments.Count))
					</td>
					<td>
						<a asp-action="Details" asp-controller="Animal" class="btn btn-outline-primary" asp-route-id="@animal.Id">Details & Comment</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
